.divroot4 {
    background-image: url(./71mUK6cPosL.jpg);
    background-repeat: repeat;
    background-size: contain;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
  }

  .card{
    margin-top: 12px;
  }
  .image{
    height: 50px;
width: 50px;
  }


    
  